<div class="social-links">
  {{- range $name, $path := .Site.Params.social }}
    {{- if $path }}
      {{- $realName := slicestr $name 2 }}
      <a href="{{ $path | safeURL }}" rel="me noopener" class="iconfont icon-{{ $realName }}"
        title="{{ $realName }}" target="_blank">
      </a>
    {{- end }}
  {{- end }}
  <a href="{{ .Site.RSSLink }}" rel="noopener" type="application/rss+xml" class="iconfont icon-rss"
    title="rss" target="_blank">
  </a>
</div>

<div class="copyright">
  <span class="power-by">
    Licenza <a class="hexo-link" href="https://gohugo.io"><a class="theme-link" rel="license noopener" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a></a>
  </span>
  <span class="division">|</span>
  <span class="power-by">
    Powered by <a class="hexo-link" href="https://gohugo.io">Hugo</a>
  </span>
  <span class="division">|</span>
  <span class="theme-info">
    Theme - <a class="theme-link" href="https://github.com/xianmin/hugo-theme-jane">Jane</a>
  </span>
  
  
  <span class="copyright-year">
    {{- $current := now.Format "2006" }}
    &copy;
    {{ if ne .Site.Params.since $current }}
      <!--{{ .Site.Params.since }} - -->
    {{ end }}
    <!--{{- $current }}-->
    2018
    <span class="heart">
      <i class="iconfont icon-heart"></i>
    </span>
{{- if or .Site.Copyright .Site.Author.name -}}
    <span class="author">{{if .Site.Copyright }}{{ .Site.Copyright | safeHTML }}{{ else }}{{ .Site.Author.name | safeHTML }}{{ end }}</span>
{{- end -}}
  </span>
</div>