{{ if or .Params.contentCopyright (and .Site.Params.contentCopyright (ne .Params.contentCopyright false)) }}
<div class="post-copyright">
  <ul>
    {{ if .Params.URLAlbo }}
    <li><strong>URL Albo: </strong><a class="regione" target="_blank" href="{{ .Params.URLAlbo }}">{{ .Params.URLAlbo }}</a></li>
    {{ end }}
    {{ if .Params.feedRSS }}
    <li><strong>feed RSS: </strong><a class="regione" target="_blank" href="{{ .Params.feedRSS }}">{{ .Params.feedRSS }}</a></li>
    {{ end }}
    {{ if .Params.URLTelegram }}
    <li><strong>Canale Telegram: </strong><a class="regione" target="_blank" href="{{ .Params.URLTelegram }}">{{ .Params.URLTelegram }}</a></li>
    {{ end }}
    {{ if .Params.URLfacebook }}
    <li><strong>Facebook: </strong><a class="regione" target="_blank" href="{{ .Params.URLfacebook }}">{{ .Params.URLfacebook }}</a></li>
    {{ end }}
  </ul>
  {{ if .Params.regioni }}
  <p class="copyright-item">
    <span class="item-title">Regione</span>
    <span class="item-content">
      <a class="regione" href="{{ .Site.BaseURL}}regioni/{{ .Params.regioni | urlize }}">
        {{ .Params.regioni }}
      </a>
    </span>
  </p>
  {{ end }}
  {{ if .Params.province }}
  <p class="copyright-item">
    <span class="item-title">Provincia</span>
    <span class="item-content">
      <a class="regione" href="{{ .Site.BaseURL}}province/{{ .Params.province | urlize }}">
        {{ .Params.province }}
      </a>
    </span>
  </p>
  {{ end }}
  {{ if .Params.tipologie }}
  <p class="copyright-item">
    <span class="item-title">Tipo albo</span>
    <span class="item-content">
      <a class="regione" href="{{ .Site.BaseURL}}tipologie/{{ index .Params.tipologie 0 | urlize }}">
        {{ index .Params.tipologie 0 }}
      </a>
    </span>
  </p>
  {{ end }}
  {{ if .Params.autoreNome }}
  <p class="copyright-item">
    <span class="item-title">Autore</span>
    <span class="item-content">
      <a class="regione" target="_blank" href="{{ .Params.autoreURL }}">
        {{ index .Params.autoreNome}}
      </a>
    </span>
  </p>
  {{ end }}
</div>
{{- end }}

